 *{
    margin: 0;
    padding: 0;
 }
 .main{
    width: 100%;
    height: 100vh;
    
    background-image :url("background.jpg");
    background-position: center;
    background-size: cover;

 }
 .navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

 }
 .icon{
    width: 280px; 
    float: left;
    height: 70px;
 }
 .logo{
    color: #df97bb;
    font-size: 35px;
    font-family: Arial;
    padding-left: 28px;
    float: left;
    padding-top: 10px;
 }
 .menu{
    width: 480px;
    float: left;
    height: 70px;

 }
 ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

 }
 ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

 }
 ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
 }
 ul li a:hover{
    color: #df97bb;

 }
 .search{
    width: 330px;
    float: left;
    margin-left: 270px;
 }
 .srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #df97bb;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 15px;
    float: left;
    padding: 15px;
    border-bottom-left-radius : 10px;
    border-top-left-radius: 10px;
 }
 .btn{
    width: 100px;
    height: 40px;
    background: #df97bb;
    border: 2px solid #df97bb;
    margin-top: 13px;
    font-size: 15px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
 }
 .btn:focus{
    outline:auto;
 }
 .content{
    width: 1200px;
    height: 40px;
    margin: 100px;
    position: relative;
    color: #df97bb;
 }
 .content .par{
    padding-left: 20px;
    padding-bottom: 35px;
    font-family: Arial;
    letter-spacing: 2px;
    line-height: 40px;
    
 }
 .content h1{
   font-family: 'Times New Roman ';
   font-size: 40px;
   padding-left: 50px;
   margin-top: 9%;
   letter-spacing: 1px;
 }
 .content .cn{
   width: 160px;
   background:#df97bb;
   height: 40px;
   border: none;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-left-radius:10px ;
   border-top-right-radius: 10px;
   margin-bottom: 10px;
   margin-left: 20px;
   cursor: pointer;


 }
 .content .cn .a {
   text-decoration: none;
   color: #000;
   transition: .4s ease ;
 }
 .cn:hover{
   background-color: #fff;
 }
 .content span{
   color: #000;
   font-size: 60px;
 }
 .form{
   width: 250px;
   height: 380px;
   background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
   position: absolute;
   top: 20px;
   left: 870px;
   border-radius: 10px;
   padding: 25px;

 }
 .form h2 {
   width: 220px;
   font-family: sans-serif;
   text-align: center;
   color: #df97bb;
   font-size: 22px;
   background-color: #fff;
   border-radius: 10px;
   margin: 2px;
   padding:8px ;

 }
 .form input{
   width: 240px;
   height: 35px;
   background: transparent;
   border-bottom: 1px solid #df97bb;
   border-top: none;
   border-right: none;
   border-left: none;
   color:#fff;
   font-size: 15px;
   letter-spacing: 1px;
   margin-top: 30px;
   font-family: sans-serif;

 }
 .form input:focus{
   outline: none;
 }
 ::placeholder{
   color: #fff;
   font-family: Arial;

 }
.btnn{
   width: 240px;
   height: 40px;
   background: #df97bb;
   border: none;
   margin-top: 20px;
   font-size: 18px;
   border-radius:10px ;
   cursor: pointer;
   color: #fff;
   transition: 0.4s, ease;

}
.btnn:hover{
   background: #fff;
   color: #df97bb;
}
 .btnn a{
   text-decoration: none;
   color: #000;
   font-weight: bold;


 }
 .form .link{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 17px;
   padding-top: 20px;
   text-align: center;
   color: #fff;

 }
 .form .link a{
   text-decoration: none;
   color: #df97bb;
   text-align: center;


 }
 .liw{
   padding-top: 15px;
   padding-bottom: 10px;
   text-align: center;
   color: #df97bb;

 }
 .icon  a{
   text-decoration: none;
   color: #fff;
 }
 .icon  ion-icon{
   color: #fff;
   font-size: 30px;
   padding-left: 14px;
   padding-top: 5px;
   transition: 0.3s ease;

 }
 .icon ion-icon:hover{
   color: #df97bb;
 }